In [70]:
import pandas as pd
import numpy as np
import yfinance as yf

In [71]:
##Extracting the data
#Utilizing Yahoo finance's API in order to get the relevant that we need

In [72]:
#creating a defined functions for importing stock data
def import_securities_data(stock_tickers, data_year):

    #this returns all of the securities related historical data utilizing yahoo finance's API
    return yf.download(stock_tickers, period= f'{data_year}')

In [73]:
#creating a list of the ticker names of the stocks we want to use for our portfolio. This will help us with inputting this data into yf to download and put it in a column for the pandas dataframe
stock_pick = ['AAPL', 'MSFT', 'BE', 'O', 'BND', 'KO', 'JPM']
etf_pick = ['SPY', 'IWM', 'DIA']

#This will download all of the relevant data related to our consituent's of selected stocks and etfs
portfolio_individual = import_securities_data(stock_pick, '1y')
portfolio_etf = import_securities_data(etf_pick, '1y')

[**********************71%%********              ]  5 of 7 completed

[*********************100%%**********************]  7 of 7 completed
[*********************100%%**********************]  3 of 3 completed

In [74]:
#testing definition
portfolio_5yr = import_stock_data(stock_pick, '5y')

portfolio_5yr

[*********************100%%**********************]  7 of 7 completed

Price        Adj Close                                                       \
Ticker            AAPL     BE        BND         JPM         KO        MSFT
Date
2019-02-01   39.956936  10.23  70.217369   89.434959  41.661552   97.599586
2019-02-04   41.091908  10.76  70.155655   89.753517  42.132076  100.410400
2019-02-05   41.794960  10.69  70.305489   89.357483  42.140617  101.815811
2019-02-06   41.809361  10.16  70.279060   89.314430  42.140617  100.685783
2019-02-07   41.017517  10.35  70.331947   88.143524  42.277489   99.964096
...                ...    ...        ...         ...        ...         ...
2024-01-25  194.169998  12.47  72.809998  172.940002  59.160000  404.869995
2024-01-26  192.419998  12.47  72.699997  172.279999  59.369999  403.929993
2024-01-29  191.729996  11.90  72.989998  172.729996  59.730000  409.720001
2024-01-30  188.039993  11.36  73.120003  176.270004  59.900002  408.589996
2024-01-31  184.399994  11.32  73.430000  174.360001  59.490002  397.579987

Price                       Close                    ...       Open  \
Ticker              O        AAPL     BE        BND  ...         KO
Date                                                 ...
2019-02-01  52.754810   41.630001  10.23  79.669998  ...  48.480000
2019-02-04  53.532562   42.812500  10.76  79.599998  ...  48.700001
2019-02-05  53.913658   43.544998  10.69  79.769997  ...  49.330002
2019-02-06  53.804779   43.560001  10.16  79.739998  ...  49.209999
2019-02-07  54.520279   42.735001  10.35  79.800003  ...  49.169998
...               ...         ...    ...        ...  ...        ...
2024-01-25  55.419998  194.169998  12.47  72.809998  ...  59.009998
2024-01-26  54.970001  192.419998  12.47  72.699997  ...  59.250000
2024-01-29  54.919998  191.729996  11.90  72.989998  ...  59.340000
2024-01-30  55.180000  188.039993  11.36  73.120003  ...  59.849998
2024-01-31  54.389999  184.399994  11.32  73.430000  ...  60.099998

Price                                 Volume                              \
Ticker            MSFT          O       AAPL       BE      BND       JPM
Date
2019-02-01  103.779999  66.647285  130672400  1714500  3335000  13000800
2019-02-04  102.870003  65.804260  125982000  1245200  4078600   9871500
2019-02-05  106.059998  66.666664  144406400  1415600  2400300  12763000
2019-02-06  107.000000  67.180229  112958400  3706800  2724700   8745000
2019-02-07  105.190002  66.937981  126966800  1285700  2474700  13177500
...                ...        ...        ...      ...      ...       ...
2024-01-25  404.320007  55.599998   54822100  4443700  8361100   8873500
2024-01-26  404.369995  55.580002   44553400  3339600  9120500   7439800
2024-01-29  406.059998  55.000000   47145600  8678300  7677600   6971200
2024-01-30  412.260010  54.720001   55859400  4179500  6688100  10822100
2024-01-31  406.959991  55.189999   55130796  5362907  9915853  11384729

Price
Ticker            KO      MSFT         O
Date
2019-02-01  19130100  35535700   2185260
2019-02-04  15105700  31315100   2972779
2019-02-05  12651900  27325400   2389699
2019-02-06   8689100  20609800   1708682
2019-02-07  10047800  29760700   2343878
...              ...       ...       ...
2024-01-25  14899700  21021200   6945800
2024-01-26  13022800  17786700   5691400
2024-01-29  14547100  24510200   6329600
2024-01-30  22061500  33477600   8151000
2024-01-31  16563508  46720594  10772537

[1258 rows x 42 columns]

In [75]:
#visuaizing the data to make sure all the data was imported correctly
portfolio_individual

Price        Adj Close                                               \
Ticker            AAPL         BE        BND         JPM         KO
Date
2023-02-01  144.621613  25.420000  72.382378  135.713882  59.454262
2023-02-02  149.981674  25.629999  72.430954  135.081924  58.436375
2023-02-03  153.641220  24.690001  71.789886  137.172226  58.000137
2023-02-06  150.886627  24.129999  71.343071  137.979172  58.329739
2023-02-07  153.790390  24.280001  71.245934  139.661133  58.232796
...                ...        ...        ...         ...        ...
2024-01-25  194.169998  12.470000  72.809998  172.940002  59.160000
2024-01-26  192.419998  12.470000  72.699997  172.279999  59.369999
2024-01-29  191.729996  11.900000  72.989998  172.729996  59.730000
2024-01-30  188.039993  11.360000  73.120003  176.270004  59.900002
2024-01-31  184.399994  11.320000  73.430000  174.360001  59.490002

Price                                   Close                        ...  \
Ticker            MSFT          O        AAPL         BE        BND  ...
Date                                                                 ...
2023-02-01  250.528580  64.631088  145.429993  25.420000  74.519997  ...
2023-02-02  262.274445  64.593018  150.820007  25.629999  74.570000  ...
2023-02-03  256.079376  64.336006  154.500000  24.690001  73.910004  ...
2023-02-06  254.513229  64.469269  151.729996  24.129999  73.449997  ...
2023-02-07  265.208405  64.126610  154.649994  24.280001  73.349998  ...
...                ...        ...         ...        ...        ...  ...
2024-01-25  404.869995  55.419998  194.169998  12.470000  72.809998  ...
2024-01-26  403.929993  54.970001  192.419998  12.470000  72.699997  ...
2024-01-29  409.720001  54.919998  191.729996  11.900000  72.989998  ...
2024-01-30  408.589996  55.180000  188.039993  11.360000  73.120003  ...
2024-01-31  397.579987  54.389999  184.399994  11.320000  73.430000  ...

Price            Open                            Volume                    \
Ticker             KO        MSFT          O       AAPL       BE      BND
Date
2023-02-01  61.139999  248.000000  67.620003   77663600  2106700  7473900
2023-02-02  60.799999  258.820007  68.209999  118339000  2281200  4273500
2023-02-03  60.349998  259.540009  67.330002  154357300  1448700  5332900
2023-02-06  59.790001  257.440002  67.000000   69858300  1722400  5282300
2023-02-07  59.669998  260.529999  67.290001   83322600  1671300  4674500
...               ...         ...        ...        ...      ...      ...
2024-01-25  59.009998  404.320007  55.599998   54822100  4443700  8361100
2024-01-26  59.250000  404.369995  55.580002   44553400  3339600  9120500
2024-01-29  59.340000  406.059998  55.000000   47145600  8678300  7677600
2024-01-30  59.849998  412.260010  54.720001   55859400  4179500  6688100
2024-01-31  60.099998  406.959991  55.189999   55130796  5362907  9915853

Price
Ticker           JPM        KO      MSFT         O
Date
2023-02-01   8841800  12535400  31259900   3303200
2023-02-02  11822100  16947200  39940400   3235300
2023-02-03  11501200  15404400  29077300   3637600
2023-02-06   8406200  11330900  22518000   2489100
2023-02-07  10447900  14922700  50841400   3609200
...              ...       ...       ...       ...
2024-01-25   8873500  14899700  21021200   6945800
2024-01-26   7439800  13022800  17786700   5691400
2024-01-29   6971200  14547100  24510200   6329600
2024-01-30  10822100  22061500  33477600   8151000
2024-01-31  11384729  16563508  46720594  10772537

[251 rows x 42 columns]

In [76]:
#visuaizing the data to make sure all the data was imported correctly
portfolio_etf

Price        Adj Close                               Close              \
Ticker             DIA         IWM         SPY         DIA         IWM
Date
2023-02-01  334.280487  191.634552  404.649872  340.869995  194.490005
2023-02-02  333.848938  195.408310  410.540314  340.429993  198.320007
2023-02-03  332.427094  194.097839  406.176636  338.980011  196.990005
2023-02-06  331.936707  191.289673  403.694397  338.480011  194.139999
2023-02-07  334.917877  192.708542  408.974152  341.519989  195.580002
...                ...         ...         ...         ...         ...
2024-01-25  380.480011  195.970001  488.029999  380.480011  195.970001
2024-01-26  381.089996  195.979996  487.410004  381.089996  195.979996
2024-01-29  383.309998  199.410004  491.269989  383.309998  199.410004
2024-01-30  384.489990  197.710007  490.890015  384.489990  197.710007
2024-01-31  381.369995  192.880005  482.880005  381.369995  192.880005

Price                         High                                 Low  \
Ticker             SPY         DIA         IWM         SPY         DIA
Date
2023-02-01  410.799988  343.269989  196.190002  413.670013  335.579987
2023-02-02  416.779999  341.510010  199.259995  418.309998  338.010010
2023-02-03  412.350006  341.670013  199.130005  416.970001  337.959991
2023-02-06  409.829987  339.559998  196.380005  411.290009  336.690002
2023-02-07  415.190002  342.309998  196.100006  416.489990  336.190002
...                ...         ...         ...         ...         ...
2024-01-25  488.029999  380.559998  197.660004  488.309998  377.920013
2024-01-26  487.410004  382.130005  197.889999  489.119995  379.950012
2024-01-29  491.269989  383.410004  199.410004  491.420013  380.540009
2024-01-30  490.890015  384.950012  198.929993  491.619995  382.489990
2024-01-31  482.880005  385.809998  198.940002  489.081299  381.339996

Price                                     Open                          \
Ticker             IWM         SPY         DIA         IWM         SPY
Date
2023-02-01  190.130005  402.350006  339.119995  191.190002  405.209991
2023-02-02  194.350006  412.880005  341.510010  196.009995  414.859985
2023-02-03  195.699997  411.089996  338.769989  196.110001  411.589996
2023-02-06  193.369995  408.100006  337.649994  195.649994  409.790009
2023-02-07  191.649994  407.570007  336.950012  193.410004  408.869995
...                ...         ...         ...         ...         ...
2024-01-25  194.410004  485.390015  379.070007  197.100006  487.579987
2024-01-26  195.380005  486.540009  379.980011  196.889999  487.589996
2024-01-29  195.089996  487.170013  381.000000  196.160004  487.730011
2024-01-30  197.100006  490.109985  382.820007  198.389999  490.559998
2024-01-31  192.710007  482.859985  385.209991  197.210007  488.619995

Price        Volume
Ticker          DIA       IWM        SPY
Date
2023-02-01  6175400  27007300  101459200
2023-02-02  5169400  31020400  101654500
2023-02-03  6504300  24981500   94736800
2023-02-06  2708400  18160100   60295300
2023-02-07  4969600  27074100   90990700
...             ...       ...        ...
2024-01-25  3539100  37659500   72525000
2024-01-26  3220300  33456800   76606300
2024-01-29  2730900  29234400   61322800
2024-01-30  2747900  33121200   58618400
2024-01-31  4457843  67749769  125683994

[251 rows x 18 columns]

In [77]:
##Creating portfolio pandas dataframe

In [78]:
#creating a dictionary with an embeded list of the stock tickers in order to create a dataframe out of it
stock_pick_dict = { 'ticker': ['AAPL', 'MSFT', 'BE', 'O', 'BND', 'KO', 'JPM']}

In [79]:
#creating the dataframe
df = pd.DataFrame(stock_pick_dict)
df

  ticker
0   AAPL
1   MSFT
2     BE
3      O
4    BND
5     KO
6    JPM

In [80]:
#all assets that are being held in this portfolio are equal weighted. so we want to make sure of that by taking the total of a pie, 100%, and divide it by the count of stocks that we have within our portfolio
df['portfolio_weight'] = np.divide(1, 7).round(4)
df

  ticker  portfolio_weight
0   AAPL            0.1429
1   MSFT            0.1429
2     BE            0.1429
3      O            0.1429
4    BND            0.1429
5     KO            0.1429
6    JPM            0.1429

In [81]:
##Annualized Volatility (trailing 3 month) Column

In [82]:
#filtering for data from three months ago using the pandas query function. credit to @https://stackoverflow.com/questions/59692194/pandas-filter-data-that-are-in-last-n-month-using-query

#creating a variable to get todays full date
now = pd.to_datetime('now')

#creating a variable that offsets today's date by 3 months
last_three_months = now - pd.DateOffset(months=3)

#levering query dunction to filter for all of the data that is less than and equal to the offsetted data. this means that we've filtered for data between now and three months ago
portfolio_three_month_trail = portfolio_individual['Adj Close'].query('Date >= @last_three_months')

#visualizing data to check if the code is working correctly
portfolio_three_month_trail.head()

Ticker,AAPL,BE,BND,JPM,KO,MSFT,O
Date,,,,,,,
2023-11-01,173.741104,10.02,68.598694,138.088501,55.994141,345.369019,47.551559
2023-11-02,177.336380,10.76,68.996422,140.553299,56.639008,347.614471,49.572918
2023-11-03,176.417572,10.80,69.404099,142.123611,56.291771,352.085388,50.385429
2023-11-06,178.994186,10.09,69.105797,143.197006,56.519955,355.807831,49.998993
2023-11-07,181.580780,9.93,69.453812,143.127426,56.728294,359.799744,50.236801

In [83]:
#creating a definition function in order to be able to the take data that I create for each of the columns through code and put it into the original dataframe named under the variable 'df'. this is a repetitive task everytime im trying to create the data for every column nad putting into calumn into pandas dataframe
def import_data(dataframe, column_name):

    #making the dataset into a dataframe in order to merge the data with the original dataset
    df1 = pd.DataFrame(dataframe)

    #reseting the index so that it doesnt cause trouble when im trying to iterate through the data in the for loop
    df1.reset_index(inplace= True)

    #iterating through the pandas dataframe and separating the index and values with index and val variables. in this case, val variable holds the ticker symbol and the numbers for the annualized volatility
    for index, val in df1[['Ticker', 0]].iterrows():

        #setting a variable for ticker and extracting the ticker as the ticker is together with the annualized volatility data under the val variable
        ticker = val['Ticker']
        value = val[0]

        #making sure that the data its iterating through matches with one of the tickers in my orginal dataset, the 'df' variable 
        if ticker in df['ticker'].values:

            #when it finds that match with the ticker in the original data set it then uses loc to locate in what row the ticker is and then it creates the annualize_volatility column to append the value to that row in that column
            df.loc[df['ticker'] == ticker, f'{column_name}'] = value
    
    return

In [84]:
#calculating the percentage change to get the daily returns
daily_returns_data = portfolio_three_month_trail.pct_change()

#getting the annualized volatility for each of the stocks. Credit to Yves Hilpisch the author for the python for finance V.2018 (pg.19)
annualized_volatility_data = (daily_returns_data.std() * np.sqrt(252)).round(4)

#creating a column for annualized volatility and importing the data to the respective ticker using the import data definition function
import_data(annualized_volatility_data, 'annualized_volatility')

#checking ordiginal dataset to make sure all of the data was appended to the corresponding ticker
df

  ticker  portfolio_weight  annualized_volatility
0   AAPL            0.1429                 0.1859
1   MSFT            0.1429                 0.1671
2     BE            0.1429                 0.6594
3      O            0.1429                 0.2260
4    BND            0.1429                 0.0690
5     KO            0.1429                 0.1045
6    JPM            0.1429                 0.1227

In [85]:
##Beta againts ETFs (SPY, IWM, DIA) (using tailing 12 months) Columns

In [86]:
#creating a definition function to calculate beta credit to: https://github.com/sammuharem/beta-calculator/blob/main/Stock%20Beta%20Calculator.py look at the calculatebeta function
def beta_calc(stock_returns, market_returns):
    
    #caluculating covariance of stock returns and market returns, using numpy's universal functions 
    covariance = np.cov(stock_returns, market_returns)

    ##caluculating variance of market returns, using numpy's universal functions 
    variance = np.var(market_returns)
    
    #implementing the beta formula. here we are extracting the covariance of the stock market returns and market returns from the matrix that was created in the previous code with the covariance variable. we then take that covariance and divide it by the variance formula and return the value of that formula as the result of using the definition function
    return covariance[0,1] / variance

In [87]:
#calculating stock market returns
stock_adjclose_returns = portfolio_individual['Adj Close'].pct_change()

#calculating etf returns
etf_adjclose_returns = portfolio_etf['Adj Close'].pct_change()

#reseting the index so that it doesnt cause problems when im trying to iterate through the data set
stock_adjclose_returns.reset_index(inplace=True)
etf_adjclose_returns.reset_index(inplace= True)

In [88]:
#experimental code

#counter = 0

#etf_ticker_list = []
#etf_data_return_list = []

#for stock_ticker, stock_data in stock_adjclose_returns.iloc[1:,1:].items():
    
#    if counter == 0: 
#        for etf_ticker, etf_data in etf_adjclose_returns.iloc[1:,1:].items():
#            etf_data_return_list.append(etf_data)
 #           etf_ticker_list.append(etf_ticker)
    
#    beta = beta_calc(stock_data, etf_data_return_list)
    
#    df.loc[df['ticker'] == stock_ticker, f'Beta against {etf_ticker}'] = beta

#    counter += 1
 
#    if counter == 7:
#        counter = 0
#        etf_data_return_list.clear()
 #       etf_ticker_list.clear()

In [89]:
#the logic of this for loop is to be able to grab an etf and then be able to get all stocks and its returns data to calculate the beta of all of the stocks to that one etf. then after it is done calculating the beta fo each of the stocks for that one etf, it goes back and pulls another etf and starts calculating the beta for each of the stocks with the new selected etf

#looping through etf returns data and splitting the data into two variables, ticker and data. the ticker holds the ticker name of the listed etf and etf data holds the data related to the returns values
for etf_ticker, etf_data in etf_adjclose_returns.iloc[1:,1:].items():
    
    #this a counter varaible, set up so that the following for loop with the stock data can loop as the same count of stocks that we have on our portfolio, which is 7 
    counter = 0

    #looping through stock returns data and splitting the data into two variables, ticker and data. the ticker holds the ticker name of the lsited stock and stock data holds the data related to the returns values
    for stock_ticker, stock_data in stock_adjclose_returns.iloc[1:,1:].items():
        
        #this is varaible set up to calculate the beta of eahc of the stock that is being looped in the sock returns loop compared to the relative etf, which represents the market
        beta = beta_calc(stock_data, etf_data)

        #takes the ticker that is being currently looped through these sets of instructions and finds the respective ticker's row in the original dataframe named under the variable 'df'. Then, it creates or finds the respective column and puts the value respective to the row that the tocker matched 
        df.loc[df['ticker'] == stock_ticker, f'Beta against {etf_ticker}'] = beta

        #this adds a 1 to the counter varaible every time the for loop loop's through the set of instructions
        counter += 1

        #the purpose of this if statement is to renew counter to 0 if it equals the count of stocks that we have picked for our portfolio. we do this because we want to only loop throughout the for loop only for amount of stocks that we have.
        if counter == len(stock_pick): 
            
            #if so is the case that we have reached the maximum count of stocks in our portfolio then we reset our counter by making it equal to 0
            counter = 0

            #lastly we set a break in order to get out of the loop and go back all the way to the for loop with the etf data in order to grab the next etf that we want to compare our stocks from as our market
            break

In [90]:
#viewing the data to make sure all of the data was appended to the correct stock ticker
df

,ticker,portfolio_weight,annualized_volatility,Beta against DIA,Beta against IWM,Beta against SPY
0,AAPL,0.1429,0.1859,0.993622,0.432997,1.139744
1,MSFT,0.1429,0.1671,0.897760,0.282349,1.166823
2,BE,0.1429,0.6594,2.761861,1.907650,2.265073
3,O,0.1429,0.2260,0.853395,0.507526,0.684559
4,BND,0.1429,0.0690,0.059815,0.047814,0.083238
5,KO,0.1429,0.1045,0.525555,0.140672,0.347273
6,JPM,0.1429,0.1227,1.151478,0.539722,0.867810

In [91]:
##Weekly Drawdrowns Columns

In [92]:
#resampling our data so that we have our stock data based on end of the week data. in other words, we are taking the closing price of every Friday
Weekly_data = portfolio_individual[['High', 'Low']].resample('1w', label= 'right').last()

#viewing the data
Weekly_data

Price             High                                               \
Ticker            AAPL         BE        BND         JPM         KO
Date
2023-02-05  157.380005  25.510000  74.099998  142.330002  60.419998
2023-02-12  151.339996  25.680000  73.139999  141.279999  59.900002
2023-02-19  153.000000  23.520000  72.550003  142.830002  60.230000
2023-02-26  147.190002  21.860001  72.029999  141.360001  59.910000
2023-03-05  151.110001  22.895000  71.879997  143.740005  59.680000
2023-03-12  150.940002  21.250000  72.830002  135.259995  60.139999
2023-03-19  156.740005  17.840000  73.919998  128.479996  60.349998
2023-03-26  160.339996  18.405001  74.419998  125.680000  61.020000
2023-04-02  165.000000  20.620001  73.870003  130.339996  62.250000
2023-04-09  164.960007  18.190001  74.599998  128.080002  63.040001
2023-04-16  166.320007  18.382000  73.800003  139.119995  63.150002
2023-04-23  166.449997  18.170000  73.769997  141.110001  64.269997
2023-04-30  169.850006  16.740000  74.099998  138.320007  64.160004
2023-05-07  174.300003  17.190001  73.860001  137.880005  64.209999
2023-05-14  174.059998  13.265000  74.059998  136.990005  64.190002
2023-05-21  176.389999  14.770000  72.940002  140.490005  63.099998
2023-05-28  175.770004  14.090000  72.330002  137.600006  60.639999
2023-06-04  181.779999  14.650000  73.019997  141.479996  61.320000
2023-06-11  182.229996  15.320000  72.650002  141.800003  60.669998
2023-06-18  186.990005  17.680000  72.830002  143.970001  62.169998
2023-06-25  187.559998  15.980000  72.989998  139.179993  61.970001
2023-07-02  194.479996  16.490000  72.709999  146.000000  60.349998
2023-07-09  192.669998  17.120001  71.709999  145.839996  60.500000
2023-07-16  191.179993  18.639999  72.849998  152.889999  61.040001
2023-07-23  194.970001  17.639999  72.750000  156.139999  62.680000
2023-07-30  196.630005  17.790001  72.309998  157.600006  62.770000
2023-08-06  187.380005  17.110001  71.730003  157.800003  61.889999
2023-08-13  178.619995  15.100000  71.470001  154.520004  61.200001
2023-08-20  175.100006  14.825000  70.970001  149.500000  61.090000
2023-08-27  179.149994  14.775000  71.220001  148.619995  60.570000
2023-09-03  189.919998  15.438000  71.570000  148.080002  60.130001
2023-09-10  180.240005  15.100000  71.169998  144.119995  58.410000
2023-09-17  176.500000  15.590000  70.919998  149.729996  58.639999
2023-09-24  177.080002  14.040000  70.510002  147.509995  57.970001
2023-10-01  173.070007  13.710000  70.129997  148.759995  56.270000
2023-10-08  177.990005  11.190000  68.940002  145.880005  53.290001
2023-10-15  181.929993  12.000000  69.559998  153.110001  53.419998
2023-10-22  175.419998  11.930000  68.379997  145.139999  55.020000
2023-10-29  168.960007  10.870000  68.720001  139.100006  56.139999
2023-11-05  176.820007  11.550000  70.169998  143.770004  57.590000
2023-11-12  186.570007  10.960000  69.870003  146.479996  56.930000
2023-11-19  190.380005  12.765000  70.699997  152.860001  57.340000
2023-11-26  190.899994  13.290000  70.699997  154.440002  58.750000
2023-12-03  191.559998  15.400000  71.839996  157.860001  58.689999
2023-12-10  195.990005  14.130000  71.949997  158.779999  58.750000
2023-12-17  198.399994  14.750000  73.529999  165.279999  59.169998
2023-12-24  195.410004  14.980000  73.540001  168.229996  58.459999
2023-12-31  194.399994  15.200000  73.709999  170.690002  58.980000
2024-01-07  182.759995  14.390000  73.169998  173.380005  59.950001
2024-01-14  186.740005  13.220000  73.639999  176.309998  60.459999
2024-01-21  191.949997  11.429000  72.680000  170.570007  60.279999
2024-01-28  194.759995  12.860000  72.820000  173.059998  59.490002
2024-02-04  187.095001  12.235000  73.589897  178.300003  60.450001

Price                                     Low                        \
Ticker            MSFT          O        AAPL         BE        BND
Date
2023-02-05  264.200012  67.639999  147.830002  24.590000  73.790001
2023-02-12  264.089996  67.000000  149.220001  22.320000  72.830002
2023-02-19  260.089996  66.400002  150.850006  22.740000  72.190002
2023-02-26  251.000000  65.849998  145.720001  21.059999  71.800003
2023-03-05  255.619995  64.790001  147.330002  21.770000  71.529999
2023-03-12  252.789993  63.490002  147.610001  19.780001  72.410004
2023-03-19  283.329987  62.389999  154.279999  16.770000  73.489998
2023-03-26  280.630005  61.090000  157.850006  17.770000  74.029999
2023-04-02  289.269989  63.360001  161.910004  19.670000  73.470001
2023-04-09  292.079987  62.980000  162.000000  17.570000  74.419998
2023-04-16  288.480011  61.889999  163.820007  17.900000  73.610001
2023-04-23  286.269989  62.619999  164.490005  17.760000  73.430000
2023-04-30  308.929993  62.939999  167.880005  16.360001  73.889999
2023-05-07  311.970001  63.549999  170.759995  16.424999  73.680000
2023-05-14  310.649994  62.099998  171.000000  12.332000  73.669998
2023-05-21  318.750000  60.740002  174.940002  13.750000  72.610001
2023-05-28  333.399994  58.849998  173.110001  13.350000  72.070000
2023-06-04  337.500000  60.099998  179.259995  14.125000  72.639999
2023-06-11  329.989990  61.000000  180.630005  14.780000  72.449997
2023-06-18  351.470001  61.650002  184.270004  16.809999  72.540001
2023-06-25  337.959991  59.419998  185.009995  15.400000  72.690002
2023-07-02  342.730011  60.490002  191.259995  16.150000  72.430000
2023-07-09  341.790009  59.959999  190.240005  15.910000  71.459999
2023-07-16  351.429993  60.880001  189.630005  17.375000  72.559998
2023-07-23  350.299988  63.160000  191.229996  17.094999  72.589996
2023-07-30  340.010010  62.709999  194.139999  17.360001  72.110001
2023-08-06  335.140015  60.250000  181.919998  15.680000  71.349998
2023-08-13  322.410004  58.779999  176.550003  14.770000  71.220001
2023-08-20  318.380005  57.220001  171.960007  14.080000  70.730003
2023-08-27  325.359985  56.459999  175.820007  14.250000  70.860001
2023-09-03  331.989990  56.590000  188.279999  15.040000  71.129997
2023-09-10  336.160004  55.740002  177.789993  14.580000  70.980003
2023-09-17  337.399994  54.990002  173.820007  14.960000  70.769997
2023-09-24  321.450012  52.400002  174.050003  13.560000  70.230003
2023-10-01  319.470001  50.529999  170.339996  13.110000  69.690002
2023-10-08  329.190002  50.540001  173.179993  10.525000  68.489998
2023-10-15  333.829987  50.750000  178.139999  11.250000  69.349998
2023-10-22  331.920013  49.820000  172.639999  11.250000  68.190002
2023-10-29  336.720001  49.869999  166.830002   9.680000  68.519997
2023-11-05  354.390015  51.369999  173.350006  10.790000  69.790001
2023-11-12  370.100006  50.529999  183.529999   9.968000  69.620003
2023-11-19  374.369995  53.490002  188.570007  12.225000  70.480003
2023-11-26  377.970001  53.970001  189.250000  13.050000  70.550003
2023-12-03  378.160004  54.750000  189.229996  14.100000  71.199997
2023-12-10  374.459991  54.570000  193.669998  13.610000  71.709999
2023-12-17  372.399994  57.849998  197.000000  13.910000  73.309998
2023-12-24  375.179993  57.650002  192.970001  14.380000  73.279999
2023-12-31  377.160004  58.119999  191.729996  14.655000  73.480003
2024-01-07  372.059998  58.060001  180.169998  13.640000  72.690002
2024-01-14  388.679993  59.680000  185.190002  12.610000  73.349998
2024-01-21  398.670013  56.650002  188.820007  10.960000  72.430000
2024-01-28  406.170013  55.660000  191.940002  12.425000  72.650002
2024-02-04  415.309998  55.299999  184.360001  11.290000  73.275002

Price
Ticker             JPM         KO        MSFT          O
Date
2023-02-05  138.130005  59.230000  257.100006  66.379997
2023-02-12  138.589996  58.880001  260.660004  66.029999
2023-02-19  140.070007  59.380001  256.000000  65.639999
2023-02-26  138.929993  59.389999  248.100006  64.660004
2023-03-05  141.080002  59.209999  251.389999  64.150002
2023-03-12  127.820000  58.990002  247.600006  61.220001
2023-03-19  125.449997  59.639999  276.320007  61.349998
2023-03-26  123.110001  59.910000  275.279999  59.070000
2023-04-02  128.850006  61.869999  283.000000  62.470001
2023-04-09  126.860001  62.380001  282.029999  62.110001
2023-04-16  134.899994  62.779999  283.690002  60.490002
2023-04-23  138.779999  63.799999  283.059998  61.790001
2023-04-30  135.669998  63.480000  303.309998  62.189999
2023-05-07  135.910004  63.630001  304.269989  62.270000
2023-05-14  133.130005  63.700001  306.600006  61.590000
2023-05-21  138.130005  62.610001  316.369995  59.830002
2023-05-28  135.630005  60.110001  323.880005  58.220001
2023-06-04  139.339996  60.080002  332.549988  59.330002
2023-06-11  140.210007  60.169998  324.410004  60.529999
2023-06-18  142.500000  61.480000  341.950012  61.110001
2023-06-25  137.619995  61.180000  333.450012  58.750000
2023-07-02  143.660004  59.869999  337.200012  59.189999
2023-07-09  143.000000  59.730000  337.000000  59.340000
2023-07-16  148.410004  60.090000  344.309998  60.480000
2023-07-23  154.690002  62.240002  339.829987  62.529999
2023-07-30  156.440002  62.220001  333.170013  61.130001
2023-08-06  155.699997  60.619999  327.239990  59.009998
2023-08-13  152.630005  60.689999  319.209991  58.330002
2023-08-20  147.440002  60.369999  311.549988  56.529999
2023-08-27  145.850006  60.009998  318.799988  55.810001
2023-09-03  145.699997  59.119999  326.779999  56.009998
2023-09-10  142.649994  58.009998  329.459991  55.209999
2023-09-17  148.309998  57.750000  329.649994  53.980000
2023-09-24  145.190002  57.500000  316.149994  51.520000
2023-10-01  144.860001  55.619999  314.980011  49.630001
2023-10-08  142.139999  51.549999  316.299988  49.380001
2023-10-15  147.839996  52.639999  326.359985  50.200001
2023-10-22  142.119995  54.439999  325.450012  49.340000
2023-10-29  135.190002  55.099998  328.399994  48.810001
2023-11-05  141.850006  56.700001  347.329987  50.790001
2023-11-12  144.080002  56.060001  361.070007  49.849998
2023-11-19  151.539993  56.700001  367.000000  52.740002
2023-11-26  153.279999  58.340000  375.140015  53.110001
2023-12-03  155.820007  58.240002  371.309998  53.750000
2023-12-10  156.979996  58.369999  368.230011  53.560001
2023-12-17  162.389999  57.799999  366.279999  56.740002
2023-12-24  167.229996  58.020000  372.709991  56.830002
2023-12-31  169.630005  58.630001  373.480011  57.400002
2024-01-07  171.470001  59.090000  366.500000  57.150002
2024-01-14  168.899994  59.869999  384.649994  58.520000
2024-01-21  167.080002  59.639999  393.500000  55.430000
2024-01-28  171.779999  59.130001  402.429993  54.950001
2024-02-04  174.339996  59.290001  397.220001  54.110001

In [93]:
#using the drawdown formula -->  (week low price - week high price) diveded by week high price --- and then taking the mean of each to get the average weekly drawdown
Average_Weekly_Drawdown = (Weekly_data['Low'].mean() - Weekly_data['High'].mean()) / Weekly_data['High'].mean()

#utilizing the import data function to create a new column and import the data to its respective stock ticker
import_data(Average_Weekly_Drawdown, 'average_weekly_drawdown')

#viewing the data
df

,ticker,portfolio_weight,annualized_volatility,Beta against DIA,Beta against IWM,Beta against SPY,average_weekly_drawdown
0,AAPL,0.1429,0.1859,0.993622,0.432997,1.139744,-0.015585
1,MSFT,0.1429,0.1671,0.897760,0.282349,1.166823,-0.018777
2,BE,0.1429,0.6594,2.761861,1.907650,2.265073,-0.048619
3,O,0.1429,0.2260,0.853395,0.507526,0.684559,-0.015473
4,BND,0.1429,0.0690,0.059815,0.047814,0.083238,-0.004049
5,KO,0.1429,0.1045,0.525555,0.140672,0.347273,-0.011971
6,JPM,0.1429,0.1227,1.151478,0.539722,0.867810,-0.017616

In [94]:
#using the drawdown formula --> (week low price - week high price) diveded by week high price --- and then taking the max of each to get the maximum weekly drawdown
maximum_weekly_drawdown = (Weekly_data['Low'].max() - Weekly_data['High'].max()) / Weekly_data['High'].max()

#utilizing the import data function to create a new column and import the data to its respective stock ticker
import_data(maximum_weekly_drawdown, 'maximum_weekly_drawdown')

#viewing the data
df

,ticker,portfolio_weight,annualized_volatility,Beta against DIA,Beta against IWM,Beta against SPY,average_weekly_drawdown,maximum_weekly_drawdown
0,AAPL,0.1429,0.1859,0.993622,0.432997,1.139744,-0.015585,-0.007056
1,MSFT,0.1429,0.1671,0.897760,0.282349,1.166823,-0.018777,-0.031013
2,BE,0.1429,0.6594,2.761861,1.907650,2.265073,-0.048619,-0.042445
3,O,0.1429,0.2260,0.853395,0.507526,0.684559,-0.015473,-0.018628
4,BND,0.1429,0.0690,0.059815,0.047814,0.083238,-0.004049,-0.002413
5,KO,0.1429,0.1045,0.525555,0.140672,0.347273,-0.011971,-0.007313
6,JPM,0.1429,0.1227,1.151478,0.539722,0.867810,-0.017616,-0.022210

In [95]:
##Total Returns Colummns

In [96]:
#creating a variable to store the stock data that has historical data dating from 10 years ago
portfolio_individual_10y = import_securities_data(stock_pick, '10y')

#viewing data
portfolio_individual_10y.head()

[**************        29%%                      ]  2 of 7 completed

[*********************100%%**********************]  7 of 7 completed

Price       Adj Close                                                  \
Ticker           AAPL  BE        BND        JPM         KO       MSFT
Date
2014-02-03  15.703112 NaN  62.459160  41.096268  27.082619  30.718227
2014-02-04  15.930421 NaN  62.359425  41.580536  27.286459  30.608749
2014-02-05  16.049408 NaN  62.228947  41.777283  27.381111  30.162460
2014-02-06  16.142950 NaN  62.205914  42.738285  27.686878  30.465605
2014-02-07  16.368795 NaN  62.282684  42.844227  27.628633  30.785582

Price                      Close                 ...       Open             \
Ticker              O       AAPL  BE        BND  ...         KO       MSFT
Date                                             ...
2014-02-03  24.634569  17.911785 NaN  81.379997  ...  38.020000  37.740002
2014-02-04  24.758617  18.171070 NaN  81.250000  ...  37.439999  36.970001
2014-02-05  24.913685  18.306786 NaN  81.080002  ...  37.490002  36.290001
2014-02-06  24.963305  18.303928 NaN  81.050003  ...  38.759998  35.799999
2014-02-07  25.155544  18.559999 NaN  81.150002  ...  38.169998  36.320000

Price                     Volume                                             \
Ticker              O       AAPL  BE      BND       JPM        KO      MSFT
Date
2014-02-03  39.534885  401464000 NaN  4118600  28549900  23164900  64063100
2014-02-04  38.468990  376681200 NaN  1923700  20709300  17759700  54697900
2014-02-05  38.653103  328344800 NaN  1353800  19491600  13665200  55814400
2014-02-06  38.934109  257765200 NaN  2321400  20881600  22661500  35351800
2014-02-07  39.069767  370280400 NaN   921100  23388500  20389000  33260500

Price
Ticker            O
Date
2014-02-03  3438727
2014-02-04  2670816
2014-02-05  1557804
2014-02-06  1561519
2014-02-07  1454088

[5 rows x 42 columns]

In [97]:
#utilizing the total returns formula --> (ending value (with dividends) - beginning value) / beginning value -- here i utilized loc to identify the last dates for the adjusted close prices as our ending value and first dates for the open prices as our beginning value (assuming that the beggining of our investement was when the market opened, as orders for stocks start to get fulfilled when market opens). I then round the calcualted number to three decimal places for better visibility and relavancy of the data
total_returns = (((portfolio_individual_10y.loc[portfolio_individual_10y.index.max(), 'Adj Close'] - portfolio_individual_10y.loc[portfolio_individual_10y.index.min(), 'Open']) / portfolio_individual_10y.loc[portfolio_individual_10y.index.min(), 'Open']) * 100).round(3)

#viewing data
total_returns

Ticker
AAPL    927.278
BE          NaN
BND      -9.480
JPM     214.162
KO       56.470
MSFT    953.471
O        37.575
dtype: float64

In [98]:
#utilizing the import data function to create a new column and import the data to its respective stock ticker
import_data(total_returns, 'total_returns')

#viewing data
df

,ticker,portfolio_weight,annualized_volatility,Beta against DIA,Beta against IWM,Beta against SPY,average_weekly_drawdown,maximum_weekly_drawdown,total_returns
0,AAPL,0.1429,0.1859,0.993622,0.432997,1.139744,-0.015585,-0.007056,927.278
1,MSFT,0.1429,0.1671,0.897760,0.282349,1.166823,-0.018777,-0.031013,953.471
2,BE,0.1429,0.6594,2.761861,1.907650,2.265073,-0.048619,-0.042445,NaN
3,O,0.1429,0.2260,0.853395,0.507526,0.684559,-0.015473,-0.018628,37.575
4,BND,0.1429,0.0690,0.059815,0.047814,0.083238,-0.004049,-0.002413,-9.480
5,KO,0.1429,0.1045,0.525555,0.140672,0.347273,-0.011971,-0.007313,56.470
6,JPM,0.1429,0.1227,1.151478,0.539722,0.867810,-0.017616,-0.022210,214.162

In [99]:
##Annualized Total Return

In [100]:
#utilizing the annualized total returns formula --> ((1+(ending value (with dividends) - beginning value) / beginning value) ^ (1/n))-1 -- here i used the same formula to calculate the returns. to the returns i then add 1 to calculate the overall returns. then i take one tenth of root of the overall total returns to annualize the data based on 10 years worth of data. I then subtract one from the left over number to get the annual return rate instead of the total growth over the period
annualized_ret = ((1 + ((portfolio_individual_10y.loc[portfolio_individual_10y.index.max(), 'Adj Close'] - portfolio_individual_10y.loc[portfolio_individual_10y.index.min(), 'Open']) / portfolio_individual_10y.loc[portfolio_individual_10y.index.min(), 'Open'] )) ** (1/10)) - 1

#viewing the data
annualized_ret

Ticker
AAPL    0.262318
BE           NaN
BND    -0.009910
JPM     0.121283
KO      0.045787
MSFT    0.265500
O       0.032414
dtype: float64

In [101]:
#utilizing the import data function to create a new column and import the data to its respective stock ticker
import_data(annualized_ret, 'annualized_total_return')

#viewing data
df

,ticker,portfolio_weight,annualized_volatility,Beta against DIA,Beta against IWM,Beta against SPY,average_weekly_drawdown,maximum_weekly_drawdown,total_returns,annualized_total_return
0,AAPL,0.1429,0.1859,0.993622,0.432997,1.139744,-0.015585,-0.007056,927.278,0.262318
1,MSFT,0.1429,0.1671,0.897760,0.282349,1.166823,-0.018777,-0.031013,953.471,0.265500
2,BE,0.1429,0.6594,2.761861,1.907650,2.265073,-0.048619,-0.042445,NaN,NaN
3,O,0.1429,0.2260,0.853395,0.507526,0.684559,-0.015473,-0.018628,37.575,0.032414
4,BND,0.1429,0.0690,0.059815,0.047814,0.083238,-0.004049,-0.002413,-9.480,-0.009910
5,KO,0.1429,0.1045,0.525555,0.140672,0.347273,-0.011971,-0.007313,56.470,0.045787
6,JPM,0.1429,0.1227,1.151478,0.539722,0.867810,-0.017616,-0.022210,214.162,0.121283

In [102]:
##Pandas DataFrame Complete

In [103]:
#lets see our pandas dataframe final results!!
df

,ticker,portfolio_weight,annualized_volatility,Beta against DIA,Beta against IWM,Beta against SPY,average_weekly_drawdown,maximum_weekly_drawdown,total_returns,annualized_total_return
0,AAPL,0.1429,0.1859,0.993622,0.432997,1.139744,-0.015585,-0.007056,927.278,0.262318
1,MSFT,0.1429,0.1671,0.897760,0.282349,1.166823,-0.018777,-0.031013,953.471,0.265500
2,BE,0.1429,0.6594,2.761861,1.907650,2.265073,-0.048619,-0.042445,NaN,NaN
3,O,0.1429,0.2260,0.853395,0.507526,0.684559,-0.015473,-0.018628,37.575,0.032414
4,BND,0.1429,0.0690,0.059815,0.047814,0.083238,-0.004049,-0.002413,-9.480,-0.009910
5,KO,0.1429,0.1045,0.525555,0.140672,0.347273,-0.011971,-0.007313,56.470,0.045787
6,JPM,0.1429,0.1227,1.151478,0.539722,0.867810,-0.017616,-0.022210,214.162,0.121283